{
  "passPerPreset": true,
  "presets": [
    "@babel/preset-stage-0",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-transform-runtime"
  ]
}