stages:
  - build_release

variables:
  CONTAINER_IMAGE: registry.gitlab.com/trustamust/waves-voting
  
services:
- docker:dind

build_release:
  stage: build_master
  image: docker:latest
  only:
    refs:
      - tags
  allow_failure: false
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker build --tag $CONTAINER_IMAGE:$CI_COMMIT_SHA --tag $CONTAINER_IMAGE:$CI_JOB_ID --tag $CONTAINER_IMAGE:prod-latest .
    - docker push $CONTAINER_IMAGE:$CI_COMMIT_SHA
    - docker push $CONTAINER_IMAGE:$CI_JOB_ID
    - docker push $CONTAINER_IMAGE:prod-latest