stages:
  - lint
  - build

variables:
  CONTAINER_IMAGE: registry.gitlab.com/trustamust/waves-voting
  
services:
  - docker:dind

before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com

lint:
  stage: lint
  script: yarn lint

build_job:
  stage: build
  image: docker:latest
  only:
    refs:
      - tags
  allow_failure: false
  variables:
    DOCKER_DRIVER: overlay
    DOCKER_HOST: tcp://localhost:2375
  script:
    - docker build --tag $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME .
    - docker push $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME