stages:
  - lint
  - test
  - build

variables:
  CONTAINER_IMAGE: registry.gitlab.com/trustamust/waves-voting

test_job:
  stage: test
  image: node:10.15.3-alpine
  only:
    refs:
      - tags
      - merge_requests
  allow_failure: false
  script: 
    - npm i mocha
    - npm i chai
    - npm test

lint_job:
  stage: lint
  image: node:10.15.3-alpine
  only:
    refs:
      - tags
      - merge_requests
  allow_failure: false
  script: 
    - apk update
    - apk add --no-cache --virtual .build-deps libstdc++ binutils-gold curl g++ git gcc gnupg libgcc linux-headers make python libc6-compat bash
    - npm i eslint
    - npm i prettier
    - npm i eslint-config-prettier
    - npm run lint
    - npm run prettier

build_job:
  stage: build
  image: docker:latest
  only:
    refs:
      - tags
  services:
  - docker:dind
  allow_failure: false
  variables:
    DOCKER_DRIVER: overlay
    DOCKER_HOST: tcp://localhost:2375
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build --tag $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME .
    - docker push $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME