version: '3'
services:
  web:
    image: waves-voting-api:latest
    ports:
    - "443:443"
    - "80:80"
    links:
    - mongo-db
    environment:
      DB_NAME: waves-voting
      DB_USER: waves-voting
      DB_PASSWORD: example
  mongo-db:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: waves-voting
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: waves-voting
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo-db
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ENABLE_ADMIN: 'true'
      ME_CONFIG_MONGODB_ADMINUSERNAME: waves-voting
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
    links: 
      - mongo-db
